@media (min-width: 600px) {
  body {
    background-color: #e2e8f0;
  }

  .nav {
    gap: 3rem;
  }

  section {
    padding: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  img {
    max-width: 80%;
  }
}

@media (min-width: 900px) {
  body {
    background-color: #cbd5e1;
  }

  .container-fluid {
    width: 70%;
  }

  .nav a {
    font-size: 1.4rem;
  }

  section {
    margin-bottom: 3rem;
  }

  iframe {
    width: 50rem;
    height: 30rem;
  }
}
